<h1> Shopping App </h1>

<ul>
  <li>
    <a href="login">Login</a>
  </li>
  <li>
    <a href="register">Register</a>
  </li>
  <li>
    <a href="adminRegister">Admin Register</a>
  </li>
  <li>
    <a href="UserList">User List</a>
  </li>
  <li>
    <a href="wallet">Wallet</a>
  </li>
  <li>
    <a href="updatePassword">Update Password</a>
  </li>
</ul>