<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>


<body>
    <div id="header"></div>
    <div class="container-fluid">
        <!-- <a href="order.html"> MY ORDERS</a> -->
        <h3 class="text-center">List Products</h3>

        <div class="row">
            <div class="col-2">
                Filter:
                <form>
                    <label>Brand Name</label>
                    <div id="brandName"></div>
                    <button id="searchBtn"> Search </button>
                </form>
            </div>
            <div class="col-9">
                <div id="errorMessage" style="color:red"></div>
                <table border="1" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sno</th>
                            <th>Product Name</th>
                            <th>Brand Name</th>
                            <th>RAM</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="products-tbl">

                    </tbody>


                </table>

            </div>
        </div>
        <br>
    </div>

    <script>

        function displayFilter(products) {
            let brandNames = products.map(p => p.brand_name);

            let brandNameStr = "";
            for (let brand of brandNames) {
                brandNameStr += ` <input type="checkbox" id="brandNames" name="brandNames" value=${brand}> ${brand} <br/>`;

            }

            document.querySelector("#brandName").innerHTML = brandNameStr;

        }

        //Display the product details  in a table
        function displayProducts(products) {

            const tbody = document.querySelector("#products-tbl");
            tbody.innerHTML = "";
            let content = "";
            let i = 1;
            let brandName = [];
            console.log("products", products);
            if (products.length != 0) {
                for (let p of products) {
                    brandName.push(p.brand_name);


                    let temp = ` <tr>
        <td>${i}</td>
        <td>${p.name}</td>
        <td>${p.brand_name}</td>
        <td>${p.ram}</td>
        <td>Rs.${p.price}</td>
        <td><button type="button" onsubmit="newOrder()" id="order-btn1" data-product-id=${p.id}>Order</button>
    </tr>`;

                    content += temp;
                    i++;
                }
            }
            else {
                content = "No Records Found"
            }
            // console.log(content);
            tbody.innerHTML = content;


            //Assign Listeners
            document.querySelectorAll("#order-btn1").forEach(element => {
                let productId = parseInt(element.getAttribute("data-product-id"));
                console.log(productId);
                element.addEventListener('click', e => {
                    placeOrder(productId);
                });
            });
            document.querySelectorAll("#brandName").innerHTML = brandName;
            console.log(brandName);


        }

        function newOrder() {
            console.log("Order Values")
        }

        function placeOrder(productId) {
            console.log("placing order", productId);
            let loggedInUser = JSON.parse(localStorage.getItem("LOGGED_IN_USER"));
            let userId = loggedInUser.id;
            let orderObj = { productId: productId, qty: 1, userId: userId };
            console.log(orderObj);
            // const productOrderAPI = new ProductOrderAPI();
            // let url = "http://localhost:3000/api/addOrder";
            let url = "/api/addOrder";
            axios.post(url, orderObj).then(response => {
                // productOrderAPI.orderProduct(orderObj).then(response => {
                console.log(response.data);
                toastr.success("Product Added Successfully");

                // document.getElementById("errorMessage").innerHTML = response.data;

                // window.location.href = "myorders.html";

            }).catch(err => {
                console.error("Erroro", err.response.data.message);
                toastr.error(err.response.data.message);
                // document.getElementById("errorMessage").innerHTML = err.response.data.message;
            });
        }

        // Get the products from the REST API
        function loadProducts() {
            // const productSearchAPI = new ProductSearchAPI();
            // let url = "https://shopping-app-rest-api.herokuapp.com/activeproducts";
            let url = "/api/products";
            // let url = "https://shopping-app-rest-api.herokuapp.com/api/activeproducts";
            axios.get(url).then(response => {
                console.table(response.data);

                displayFilter(response.data);
                displayProducts(response.data);
            });
        }



        function filterProducts(filterObj) {
            let brandName = filterObj.brandName.join(",");
            console.log("filterObj", brandName);


            let url = "/api/product/search?brandName=" + brandName;
            // let url = "https://shopping-app-rest-api.herokuapp.com/api/searchProducts";
            // productSearchAPI.searchProducts(filterObj).then(response => {
            //     console.table(response);
            //     displayProducts(response);
            // }
            axios.get(url).then(response => {
                // console.table(response.data);
                displayProducts(response.data);

            }).catch(err => {
                console.error(err);
            });
        }

        function searchProducts() {
            let brandNames = [];
            document.getElementsByName("brandNames").forEach(e => {
                if (e.checked) {
                    brandNames.push(e.value);
                }
            });

            let filterObj = { brandName: brandNames };
            console.log(filterObj);
            filterProducts(filterObj);
        }

        document.querySelector("#searchBtn").addEventListener('click', event => {
            event.preventDefault();
            searchProducts();
        });



        loadProducts();

        // $("#header").load("_header.html");

    </script>
</body>

</html>