<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<style>
    h1 {
        text-align: center;
    }

    form {
        text-align: center;
    }

    /* div {
        text-align: center;
        margin-left: 20px;
        color: red;
    } */

    label.email,
    label.name {
        padding: 10px;
    }
</style>

<body>

    <h1>Create your Shopping Account</h1>
    <div id="message"></div>
    <br>
    <form id="form">
        <label class="name">Name</label>
        <input type="user_name" id="user_name" placeholder="Enter Name" required>
        <br>
        <br>
        <label class="email">Email</label>
        <input type="email" id="email" placeholder="Enter email" required>
        <br>
        <br>
        <label>Password</label>
        <input type="password" id="password" placeholder="Enter Password" required>
        <br>
        <br>
        <br>
        <button id="submitBtn"> Register </button>
        <button onclick="reset()" value="Reset">Clear</button>
    </form>

    <script>

        function register(user_name, email, password) {
            let userDetails = { name: user_name, email: email, password: password };

            // let url = "https://shopping-app-guru-api.herokuapp.com/api/register";
            let url = "/api/register";

            axios.post(url, userDetails).then(response => {
                let registerData = response.data;
                console.log(registerData);
                // document.querySelector("#message").innerHTML = "User Added Successfully";
                toastr.success("Successfully LoggedIn");
                if (registerData) {
                    window.location.href = "login";
                }
                else {
                    window.location.href = "register";
                }
            }).catch(err => {
                let error = err.response.data.message;
                console.error(error);
                // document.querySelector("#message").innerHTML = error;
                toastr.error(error);
            })

        }
        function registerSubmit() {
            let user_name = document.querySelector("#user_name").value;
            let email = document.querySelector("#email").value;
            let password = document.querySelector("#password").value;
            register(user_name, email, password);
        }

        document.querySelector("#submitBtn").addEventListener('click', event => {
            event.preventDefault();
            registerSubmit();
        })

        function reset() {
            document.getElementById("form").reset();
        }

    </script>


</body>

</html>